.image-hover-overlay--container {
  position: relative;
  height: auto;

  &:hover:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        180deg,
        rgba(20, 71, 111, 0.13) 0%,
        rgba(20, 71, 111, 0.52) 100%
      ),
      linear-gradient(0deg, rgba(20, 71, 111, 0.2), rgba(20, 71, 111, 0.2));
    z-index: 0;
  }
}

.image-hover-overlay--title {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  transition: 0.25s ease-in-out;
}

.image-hover-overlay--container:hover > .image-hover-overlay--title {
  opacity: 0;
  transition: 0.25s ease-in-out;
}

.image-hover-overlay--image {
  display: block;
  width: 100%;
  height: auto;
}

.image-hover-overlay--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.25s ease-in-out;
}

.image-hover-overlay--container:hover .image-hover-overlay--overlay {
  opacity: 1;
  z-index: 10;
}

.image-hover-overlay {
  &--hovercontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  &--title {
    color: white;
    font-family: system-ui;
    font-size: 48px;
    font-weight: 600;
  }

  &--hovertitle {
    color: white;
    font-family: system-ui;
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 24px;
    font-weight: 600;
  }

  &--hoverdescription {
    color: white;
    font-family: system-ui;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 0px 30px;
  }
}
